*.acn
*.acr
*.alg
*.aux
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.bst
*.dvi
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nav
*.nlo
*.nls
*.out
*.pyg
*.run.xml
*.snm
*.synctex.gz
*.tex.backup
*.tex~
*.thm
*.toc
*.vrb
*.xdy
*.xml
*blx.bib
.bak 
.mtc
build/

datasets/open-psychometrics/filtered_data.tsv
careers-portal-web-scraper/node_modules/
careers-portal-web-scraper/package-lock.json
careers-portal-web-scraper/package.json
datasets/open-psychometrics/open-psychometrics-venv/

*.env
venv/

**/.~lock.*

college-course-recommender-system/results-pdf/*.pdf

testing/testing.md
